.navbar {
    background: rgb(63, 1, 1);
    height: 80px;
    display: flex;
  }

.navbar-logo {
    color: #fff;
    margin-left: 25px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }